.container-navbar-table {
  display: flex;
  justify-content: space-between;
}

.table-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h3 {
  padding: 10px 15px;
  margin-bottom: 20px;
}
.timePerUserContainer {
  border: var(--primary-color) 1px solid;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 20px;
  .ulTimePerPlayer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 15px 0px;
  }
}
