.container-home {
  background-color: #383a40;
}
.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-list-games-container {
  margin-bottom: 2rem;
}
.home-contact-container {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.carousel-Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}
