.signupContainer {
  background-color: var(--primary-color);
  flex-direction: column;
  border-radius: 10px;
  width: 50%;
}

.inputSubmit {
  width: 102px;
  height: 33px;
  border-radius: 20px;
  background-color: var(--button-color);
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--text-color);
  cursor: pointer;
}

.inputSubmit:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.inputSubmit:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  h3 {
    color: var(--text-color);
    margin-bottom: 0;
  }
}

.inputSubmitContainer {
  display: flex;
  justify-content: center;
}

.loginContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.imageLoginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-color);
  width: 50vw;
}

.imageLogin {
  width: 500px;
}

@media screen and (max-width: 1200px) {
  .imageLogin {
    width: 400px;
  }
}

@media screen and (max-width: 960px) {
  .imageLogin {
    width: 300px;
  }
}

@media screen and (max-width: 760px) {
  .imageLoginContainer {
    display: none;
    visibility: hidden;
  }
  .loginContainer {
    align-items: center;
    justify-content: center;
  }
  .Container {
    width: 100vw;
  }
  .signupContainer {
    width: 100%;
  }
  .container h3 {
    font-size: 15px;
  }
}
