.LeaderBoard-container {
  background: var(--primary-color);
  color: white;
  width: 30%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    height: 35px;
    background: var(--button-color);
  }
  .leaderBoardLineContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    .leaderBoardLineContent {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .rangContiner {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.burger,
.cross {
  color: aliceblue;
  font-size: 2rem;
  margin-left: 1rem;
  cursor: pointer;
}
