.table {
  width: 60vw;
}

.title-table {
  color: var(--text-color);
}

tbody {
  color: var(--text-color);
}

th,
td {
  padding-right: 4rem;
  padding-top: 1.5rem;
  text-align: left;
}

th {
  border-bottom: solid 1px #b1a9a9;
  padding-bottom: 1rem;
}

.button-container {
  padding-right: 0px;
}
