.connexionButton {
  width: 102px;
  height: 33px;
  border-radius: 20px;
  background-color: var(--button-color);
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--text-color);
  cursor: pointer;
  margin-right: 1rem;
}

.disconnectedButton {
  width: 102px;
  height: 33px;
  border-radius: 20px;
  background-color: #f05555;
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--text-color);
  cursor: pointer;
  margin-right: 1rem;
}
