.adminContainer {
  h1 {
    margin-top: 2rem;
    position: static;
    margin-left: 7rem;
  }
  .camenbertContainer {
    display: flex;
    text-align: center;
    margin-top: 6rem;
  }
  .barContainer {
    margin: 75px 15%;
  }
}
