.adminContainer {
  h1 {
    padding-left: 200px;
    margin-top: 2rem;
  }
  .camenbertContainer {
    display: flex;
    text-align: center;
    margin-top: 6rem;
  }
  .barContainer {
    margin: 75px 15%;
  }
}
