.thumbnails {
  display: flex;
  margin: auto;
  padding: 70px 50px;
  justify-content: center;
  width: 100%;
  .splide__arrow--prev {
    display: none;
  }
}

.thumbnail {
  width: 100%;
  overflow: hidden;
  list-style: none;
  margin: auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselContainer {
  width: 50vw;
}

@media screen and (max-width: 640px) {
  .carouselContainer {
    width: 100vw;
    margin: auto;
  }
}

@media screen and (max-width: 900px) {
  .carouselContainer {
    width: 100vw;
    margin: auto;
  }
}

.thumbnail img {
  width: 75%;
  height: 75%;
}

.splide__pagination,
.splide__pagination--ltr {
  display: none;
}
