.delete-button {
  background-color: #ff8e8e;
  border-radius: 5px;
  border: none;
  width: 100px;
  height: 38px;
  font-size: 15px;
  color: #ffffff;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #ff4f4f;
}
