.search-bar {
  background-color: #e3e3e5;
  color: #4f4b4b;
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 45px;
  padding-left: 5px;
  outline: none;
  margin-right: 9.5rem;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  width: 100%;
}
