.container-games {
  display: flex;
  justify-content: center;
  background-color: #2b2d31;
  width: 50%;
  margin: auto;
  border-radius: 20px;
  margin-bottom: 2rem;
}

.tic {
  width: 15rem;
  margin: 2rem;
}
