.li-admin-nav {
  height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 35px;
  text-align: center;
  color: white;
  font-size: 1.4rem;
  span {
    padding-left: 15px;
  }
  &:hover {
    background: white;
    color: var(--secondary-text-color);
  }
}
